[Unit]
Description=Nym Mixnode (v1.1.20)
StartLimitInterval=350
StartLimitBurst=10

[Service]
User=persona
LimitNOFILE=65536
ExecStart=/home/persona/p_manager/nym-mixnode run --id noderef
KillSignal=SIGINT
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target

